In [10]:
import os
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split 
from sklearn import metrics
import pandas as pd

In [15]:
df = pd.read_csv('dataset/raw_data.csv')

In [16]:
df.head()

,age,gender,education,marital_status,monthly_income,limit_diet,gain_10kg,gain_lose_3kg,eat_2h_sleep,soft_drink,...,spo2,bp_sys,bp_dia,blood_glucose,blood_hemoglobin,urinary_glucose,urinary_protein,pulse_rate,uric_acid,health_status
0,59,Male,7. Higher (Master or Doctor) completed,2. Current married or living together,"5. Taka 50,001 or more",No,1. No,1. No,1. No,1. No,...,96,138,78,234 (PBS),NaN,-,-,94,4.3,3
1,60,Male,7. Higher (Master or Doctor) completed,2. Current married or living together,"5. Taka 50,001 or more",Yes,2. Yes,1. No,2. Yes,1. No,...,96,128,67,93.6 (PBS),NaN,-,-,62,5.8,2
2,58,Male,7. Higher (Master or Doctor) completed,2. Current married or living together,"5. Taka 50,001 or more",Yes,2. Yes,2. Yes,2. Yes,1. No,...,96,140,81,133.2 (PBS),NaN,-,-,60,7.0,3
3,50,Female,7. Higher (Master or Doctor) completed,2. Current married or living together,"5. Taka 50,001 or more",Yes,1. No,1. No,2. Yes,2. Yes,...,99,102,65,75.6 (PBS),10.9,-,-,82,3.6,2
4,56,Male,7. Higher (Master or Doctor) completed,2. Current married or living together,"5. Taka 50,001 or more",Yes,1. No,1. No,2. Yes,1. No,...,96,155,98,223.2 (PBS),NaN,-,-,92,5.0,3

In [18]:
df.shape

(50, 33)

### Changing string value to numerical values

In [50]:
df.replace({'Yes': 1, 'No': 0, '1.  No': 0, '2. Yes': 1}, inplace=True)
df.replace({'Male': 1, 'Female': 2}, inplace=True)
df.replace({'-': 0, '+': 1}, inplace=True)

In [51]:
df.head(5)

,age,gender,education,marital_status,monthly_income,limit_diet,gain_10kg,gain_lose_3kg,eat_2h_sleep,soft_drink,...,spo2,bp_sys,bp_dia,blood_glucose,blood_hemoglobin,urinary_glucose,urinary_protein,pulse_rate,uric_acid,health_status
0,59,1,7. Higher (Master or Doctor) completed,2. Current married or living together,"5. Taka 50,001 or more",0,0,0,0,0,...,96,138,78,234 (PBS),NaN,0,0,94,4.3,3
1,60,1,7. Higher (Master or Doctor) completed,2. Current married or living together,"5. Taka 50,001 or more",1,1,0,1,0,...,96,128,67,93.6 (PBS),NaN,0,0,62,5.8,2
2,58,1,7. Higher (Master or Doctor) completed,2. Current married or living together,"5. Taka 50,001 or more",1,1,1,1,0,...,96,140,81,133.2 (PBS),NaN,0,0,60,7.0,3
3,50,2,7. Higher (Master or Doctor) completed,2. Current married or living together,"5. Taka 50,001 or more",1,0,0,1,1,...,99,102,65,75.6 (PBS),10.9,0,0,82,3.6,2
4,56,1,7. Higher (Master or Doctor) completed,2. Current married or living together,"5. Taka 50,001 or more",1,0,0,1,0,...,96,155,98,223.2 (PBS),NaN,0,0,92,5.0,3

In [52]:
data = df.drop( columns = ['education', 'marital_status'], axis=1)

In [54]:
data.iloc[:10,:15]

,age,gender,monthly_income,limit_diet,gain_10kg,gain_lose_3kg,eat_2h_sleep,soft_drink,fast_food,skip_breakfast,eat_faster,walking_habit,physical_activity,walk_faster,sleep_habit
0,59,1,"5. Taka 50,001 or more",0,0,0,0,0,0,1,0,2. Less than 1 hour per day,1,1,2. Rarely (1-5 days per month)
1,60,1,"5. Taka 50,001 or more",1,1,0,1,0,0,0,1,3. Don壽猼 go outside for walk,1,0,3. Sometimes (6-10 days per month)
2,58,1,"5. Taka 50,001 or more",1,1,1,1,0,0,0,1,1. More than 1 hour per day,1,0,2. Rarely (1-5 days per month)
3,50,2,"5. Taka 50,001 or more",1,0,0,1,1,0,0,0,1. More than 1 hour per day,1,1,1. Never
4,56,1,"5. Taka 50,001 or more",1,0,0,1,0,0,0,1,2. Less than 1 hour per day,1,1,1. Never
5,59,1,"5. Taka 50,001 or more",1,0,0,1,0,0,0,0,1. More than 1 hour per day,1,0,1. Never
6,59,1,"5. Taka 50,001 or more",1,0,0,0,0,0,0,0,1. More than 1 hour per day,1,0,1. Never
7,57,1,"5. Taka 50,001 or more",1,0,1,1,0,0,0,0,1. More than 1 hour per day,1,1,1. Never
8,45,1,"4. Taka 20,001-50,000",0,1,0,1,1,0,0,1,1. More than 1 hour per day,1,0,2. Rarely (1-5 days per month)
9,58,1,"5. Taka 50,001 or more",1,0,0,1,0,0,0,1,1. More than 1 hour per day,1,1,2. Rarely (1-5 days per month)